body { 
       background-image: url("ol.jpg");
       background-size: cover;
}

#div1 { background-image: url("ol.jpg");
         margin-top : 100px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    float: left;
}

#div2 
{
    float : left;
    width: 20px;    
  
}
        
        
a .link1
{
    width: 50;
    height: 50;
    background-image: "ol.jpg";   

}
a .link1: hover
{
     width: 50;
    height: 50;
    background-image: "goal.jpg";     
}
